<!DOCTYPE html>
<html lang="en" ng-app="hacksc-client">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0" id="viewport" name="viewport">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/main.css" rel="stylesheet" type="text/css" />
  <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
  <script src="js/jquery.min.js"></script>
  <script src="js/lodash.compat.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/restangular.min.js"></script>
  <script src="js/ui-bootstrap.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/klient.js"></script>
  <script src="js/patient.js"></script>
  <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>MapReduceMyFitness</title>
</head>

<body ng-controller="MainCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ title }}</a>
      </div>

      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a><marquee>Now Playing: The Fellowship of the Ring</marquee></a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Routines</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li ng-repeat="pres in prescriptions" ng-click="setRoutine(pres)"><a href="">{{ pres.name }}</a>
          </li>
        </ul>

        <ul class="nav nav-sidebar bottom">
          <li ng-repeat="pres in prescriptions" ng-click="setRoutine(pres)"><a href="">{{ pres.name }}</a>
          </li>
        </ul>

      </div>

      <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main">

        <div id="row1" ng-if="!routine">
          <h3>Select a routine on the left</h3>
        </div>

        <div id="row2" class="row" ng-class="{hidden: !routine}">

          <div class="col-md-4">

            <h1>{{ patient.name }}</h1>
            <table class="table table-striped">
              <!--               <tr>
                <th>Diet</th>
                <td>{{routine.diet}}</td>
              </tr> -->
              <tr>
                <th>Repetitions</th>
                <td>{{routine.repetitions}}</td>
              </tr>
              <tr>
                <th>Correctness</th>
                <td id="match">n/a</td>
              </tr>
              <tr>
                <th>Remaining Reps</th>
                <td id="match">{{routine.curreps}}/{{routine.repetitions}}</td>
              </tr>
            </table>

            <h2>Action</h2>
            <canvas id="action"></canvas>
          </div>

          <div class="col-md-8">
            <h1>{{routine.name}}</h1>
            <canvas width="500" height="400" id="can"></canvas>
            <h2>{{message}}</h2>
            <h2>Correctness: <span id="cor">{{correct}}</span></h2>
          </div>

          <br>


        </div>
      </div>
    </div>
  </div>

  <script src="http://bam.cdn.beatsmusic.com/bam-1.0.2.min.js"></script>
  <script src="js/ambient.js"></script>
</body>

</html>
